p {
  margin-bottom: 1.5em;
}

.imgrow {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    flex: 1 1 10px;
    img {
      width: 100%;
    }
    video {
      width: 100%;
      display: block;
    }
  }
}

figure {
  margin-top: 2em;
}

// ei marginaalia kuvien väliin
figure+figure{
  margin-top: 0;
}

// muu elementti jonka yllä on kuva
figure+:not(figure) {
  margin-top: 2em;
}


figcaption {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 0em;
}

hr {
  border: none;
  border-top: 1px solid #e4e4e4;
  margin: 2em 0;
}

.post-info {
  margin: 0 0 1.5em 0;
  color: #8d8d8d;
  .post-date {
    display: inline-block;
    width: 7em;
  }
  .earlier-later {
    float: right;
  }
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1em;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

blockquote {
  white-space: pre;
  margin-bottom: 1em;
}

.earlier-page {
  margin-top: 3em;
}

.later-page {
  text-align: right;
}

.slide {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  img {
    width: 100%;
    padding-bottom: 1em;
  }
  .slide-main {
    flex: 0 0 60%;
  }
  aside {
    flex: 0 0 40%;
    padding-left: 1em;
  }
  ul {
    list-style-position: inside;
    padding-left: 0.8em;
    line-height: 1.5em;
    ul {
      padding-left: 0.5em;
      list-style-type: "・ ";
    }
  }
}

.lang-ja .slide ul {
  line-height: 1.6em;
  ul {
    padding-left: 0.9em;
    list-style-type: "・";
  }
}

.hidewide {
  display: none;
}

@media (max-width: $smallest-tablet-width) {
  .hidewide {
    display: initial;
  }

  .earlier-later-simple {
    display: none;
  }
  
  .slide {
    display: block;
    img {
      display: none;
    }
    ul {
      padding-left: 0.5em;
    }
  }
}

.link-preview {
  a {
    line-height: 1em;
    h3 {
      line-height: 1em;
      text-transform: none;
      letter-spacing: normal;
      margin: 0.5em 0;
    }
    margin: 0 auto;
    display: block;
    max-width: 500px;
    img {
      width: 100%;
    }
    p {
      color: $text-color;
      margin: 0;
    }
    div {
      padding: 0.5em 0;
    }
  }
}