p {
  margin-bottom: 1.5em;
}

.imgrow {
  max-height: 600px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  div {
    flex: 1 1 10px;
    img {
      width: 100%;
    }
  }
}

:not(figure)+figure {
  margin-top: 2em;
}

figure+:not(figure) {
  margin-top: 2em;
}

figcaption {
  text-align: right;
  font-size: 0.8em;
  margin-bottom: -2em;
}

hr {
  border: none;
  border-top: 1px solid #e4e4e4;
  margin: 2em 0;
}

.post-info {
  max-width: 250px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  color: #8d8d8d;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 1em;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

blockquote {
  white-space: pre;
  margin-bottom: 1em;
}