@import "vars";

html, body {
  min-width: $min-width;
}

#site-header {
  box-sizing: border-box;
  padding: 6em 3em 0 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $header-ratio;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: left top;
  background-size: cover;
  background-color: rgb(6, 7, 10);
}

@media (max-width: $compress-logo-bp) {
  #site-header, footer {
    padding-right: calc( 1em + 16vw - 128px);
  }
}

footer {
  box-sizing: border-box;
  padding: 0 3em 4em 0;
  position: fixed;
  width: $header-ratio;
  bottom: 0;
  left: 0;
}

@media (max-height: $drop-footer-vbp) {
  footer {
    position: static;
    margin-left: $header-ratio;
    padding: 0 0 1em 3em;
  }
}

#topbar {
  box-sizing: border-box;
  margin-left: $header-ratio;
  text-align: right;
  max-width: $main-max-width;
  padding: 1em 3em 3em 3em;
  display: flex;
  justify-content: flex-end;
  >* {
    padding: 0 2em;
  }
  >*:not(:last-child) {
    border-right: 1px solid $text-accent-color;
  }
  #lang-select>svg {
    vertical-align: -15%;
  }
}

.main {
  box-sizing: border-box;
  margin-left: $header-ratio;
  padding: 0 3em 3em 3em;
  max-width: $main-max-width;
  overflow: hidden;
  header {
    height: 6rem;
    margin-bottom: 0.8em;
    h1 {
      height: 6rem;
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

@media (max-width: $portrait-mode-bp) {
  #site-header {
    position: static;
    width: 100%;
    min-width: $min-width;
    background-size: 100%;
    padding: 2em 4vw;
    #catch-copy {
      br {
        display: none;
      }
    }
  }
  #topbar {
    margin-left: 0;
    padding-left: 6vw;
    padding-right: 6vw;
    >* {
      padding: 0 4vw;
    }
    >*:last-child {
      padding-right: 0;
    }
    >*:first-child {
      padding-left: 0;
    }
  }
  .main {
    margin-left: 0;
    padding: 0 6vw 6vw 6vw;
  }
  footer {
    margin: 0;
    padding: 0 0 1em 3em;
    position: static;
    width: 100%;
  }
}

@media (max-width: $min-width) {
  #site-header {
    padding: 2em #{4vw/100vw * $min-width};
  }
  #topbar {
    padding-left: #{6vw/100vw * $min-width};
    padding-right: #{6vw/100vw * $min-width};
    >* {
      padding: 0 #{4vw/100vw * $min-width};
    }
  }
  .main {
    padding: 0 #{6vw/100vw * $min-width} #{6vw/100vw * $min-width} #{6vw/100vw * $min-width};
  }
}