$drop-footer-vbp: 670px;
$compress-logo-bp: 1000px;
$portrait-mode-bp: 800px;
$min-width: 350px;
$main-max-width: 900px;

$header-ratio: 30vw;

$text-color: #6e6e6e;
$header-text-color: #f3f0ea;
$footer-text-color: #afa79e;
$heading-text-color: #3b3b3b;