$drop-footer-vbp: 670px;
$compress-logo-bp: 1000px;
$portrait-mode-bp: 790px;
$smallest-tablet-width: 500px;
$min-width: 350px;
$main-max-width: 900px;

$header-ratio: 30vw;

$text-accent-color: #aaaaaa;
$text-color: #6e6e6e;
$header-text-color: #f3f0ea;
$footer-text-color: #dddddd;
$heading-text-color: #3b3b3b;
$link-color: #3454bd;
$link-hover-color: #6381e4;