@import "raleway";
@import "tsukushi";

@font-face {
  font-family: 'RalewayCustom';
  src: $raleway_font;
}

@font-face {
  font-family: 'TsukushiCustom';
  src: $tsukushi_font;
}

// We don't fant a "flash" of fallback font for the SAUNOJA logo or the catch copy
#saunoja-logo {
  font-family: "RalewayCustom";
}

#catch-copy {
  font-family: "TsukushiCustom";
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', 'Calibri', 'Devanagari Sangam MN', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  color: #6e6e6e;
  width: 100%;
  min-width: 350px;
  text-align: justify;
}

header {
  padding: 6em 3em 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  height: 100%;
  left: 0;
  width: 30%;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: left top;
  background-size: auto 100%;
  background-color: rgb(6, 7, 10);
  box-sizing: border-box;

  h1, p {
    color: #f3f0ea;
    margin-bottom: 0;
    text-shadow: 0 0 3px rgb(44, 68, 99); 
  }
}

footer {
  padding: 4em 3em;
  color: #afa79e;
  text-align: right;
  position: fixed;
  width: 30%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

#main {
  margin-left: 30%;
  padding: 6em 3em 3em 3em;
  max-width: 800px;
  line-height: 2em;
  h2 {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #3b3b3b;
  font-weight: 800;
  letter-spacing: 0.25em;
  line-height: 1.65;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  font-family: "Raleway", "Hiragino Sans", Helvetica, sans-serif;
}

.post-info {
  margin: 0 0 0 0;
  color: #8d8d8d;
}

.post-date, .post-author {
  margin: 0 3em 0 0;
}

ruby {
  display: inline-flex;
  flex-direction: column-reverse;
}

ruby rt {
  font-weight: 100;
  font-family: "Hiragino Sans", sans-serif;
  display: inline;
  line-height: 0.4;
  display: flex;
  justify-content: space-between;
}

hr {
  border: none;
  border-top: 1px solid #e4e4e4;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 6em 1em 0 0;
  }
  footer {
    padding: 0 1em 4em 0;
  }
}

@media (max-height: 670px) {
  header {
    background-size: auto 672px;
  }
  footer {
    position: static;
    margin-left: 30%;
    text-align: left;
    color: #6e6e6e;
    padding: 0 0 1em 3em;
  }
}

@media (max-width: 800px) {
  header {
    position: static;
    width: 100%;
    background-size: 100%;
    padding: 2em 1em;
    background-position: 0 -7vw;
    h1 {
      margin: 0.5rem 1.5rem 0 0;
    }
    #catch-copy {
      margin: 0.5rem 1.5rem 0 0;
      br {
        display: none;
      }
    }
  }
  .post-date, .post-author {
    margin: 0 1.6em 0 0;
  }
  #main {
    margin-left: 0;
    padding: 3em;
  }
  footer {
    margin: 0;
    padding: 0 0 1em 3em;
    text-align: left;
    position: static;
    width: 100%;
    color: #6e6e6e;
  }
}

@media (max-width: 500px) {
  header {
    background-position: 0 -3vw;
  }
}
@media (max-width: 400px) {
  header {
    background-position: 0 0;
    padding: 2em 0;
    h1 {
      margin: 0.5rem 0.8rem 0 0;
    }
    #catch-copy {
      margin: 0 0.8rem 0 0;
      br {
        display: none;
      }
    }
  }
  .post-date, .post-author {
    margin: 0 0.7em 0 0;
  }
  #main {
    padding: 2em;
    letter-spacing: -0.05em;
    h1, h2, h3 {
      letter-spacing: 0.06em;
    }
  }
  footer {
    margin: 0;
    padding: 0 0 1em 3em;
    text-align: left;
    position: static;
    width: 100%;
    color: #6e6e6e;
  }
}