<figure>
<div class="imgrow">
    {% for image in images -%}
    {% set relpath = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") %}
    {% set img_path = relpath ~ "/" ~ image ~ ".jpg" %}
    <div>
        <a href="{{ resize_image(path=img_path, width=2000, height=2000, op='fill') | replace(from=config.base_url, to='') | safe }}">
            <img src="{{ resize_image(path=img_path, width=600, height=600, op='fill') | replace(from=config.base_url, to='') | safe }}">
        </a>
    </div>
    {%- endfor %}
</div>
{% if caption %}
<figcaption>{{ caption | markdown(inline=true) | safe }}</figcaption>
{% endif %}
</figure>