{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block metatags %}
{{ super() }}
<meta property="og:title" content="{{ config.extra.site_title }}"/>
<meta property="og:description" content="{{ trans(key='site-description', lang=lang) | safe }}"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ config.extra.site_title }}"/>
<meta property="og:url" content="{{ trans(key='site-url', lang=lang) | safe  }}"/>
{% set vene_img = resize_image(path='card_vene.jpg', width=1200, op='fit_width') %}
<meta property="og:image" content="{{ vene_img.url | safe }}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="600"/>
<meta name="twitter:card" content="summary_large_image"/>
<title>{{ config.extra.site_title }}</title>
{% endblock %}

{% block pagecontent %}
{{ page.content | safe }}
{% if lang == "fi" %}
{% set section = get_section(path="_index.fi.md") %}
{% else %}
{% set section = get_section(path="_index.md") %}
{% endif %}
{{ section.content | safe }}
{% for page in section.pages %}
{% if page.slug not in ["profile", "all"] %}
{% if loop.index == 11 %}
<a name="archive"></a>
{% endif %}
<h2><a href="{{ page.path | safe }}">{{ page.title | safe }}</a></h2>
{{ macros::post_info(page=page) }}
{% if page.extra.summary_image %}
{% set relative_path = page.relative_path | default(value=section.relative_path) %}
{% set relpath = relative_path | split(pat="/") | slice(end=-1) %}
{% set image = relpath | concat(with=page.extra.summary_image ~ ".jpg") | join(sep="/") %}
<figure>
  <div class="imgrow">
    <div>
      <a href="{{ page.path | safe }}">
        {% set title_img = resize_image(path=image, width=1600, op='fit_width') %}
      <img src="{{ title_img.url | replace(from=config.base_url, to='') | safe }}">
      </a>
      <p class="attribution">{% if page.extra.summary_attribution %}{{ page.extra.summary_attribution | markdown(inline=true) | safe }}{% endif %}</p>
    </div>
  </div>
</figure>
{% endif %}
{{ page.summary | safe }}
<p><a href="{{ page.path | safe }}">{{ trans(key="read_more", lang=lang) | safe }}</a></p>
<hr>
{% endif %}
{% endfor %}
{% endblock pagecontent %}
