{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block metatags %}
<meta property="og:title" content="{{ config.extra.site_title }}"/>
<meta property="og:description" content="{{ trans(key='site-description', lang=lang) | safe }}"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="{{ config.extra.site_title }}"/>
<meta property="og:url" content="{{ trans(key='site-url', lang=lang) | safe  }}"/>
<meta property="og:image" content="{{ resize_image(path='card_vene.jpg', width=1200, op='fit_width') | safe }}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="600"/>
<meta name="twitter:card" content="summary_large_image"/>
<title>{{ config.extra.site_title }}</title>
{% endblock %}

{% block content %}
{{ section.content | safe }}
{% for page in paginator.pages %}
<h2><a href="{{ page.path | safe }}">{{ page.title | safe }}</a></h2>
{{ macros::post_info(page=page) }}
{% if page.extra.title_image %}
{% set relative_path = page.relative_path | default(value=section.relative_path) %}
{% set relpath = relative_path | split(pat="/") | slice(end=-1) %}
{% set image = relpath | concat(with=page.extra.title_image ~ ".jpg") | join(sep="/") %}
<figure>
  <div class="imgrow">
    <div>
      <a href="{{ page.path | safe }}">
      <img src="{{ resize_image(path=image, width=1600, op='fit_width') | replace(from=config.base_url, to='') | safe }}">
      </a>
    </div>
  </div>
</figure>
{% endif %}
{{ page.summary | safe }}
<p><a href="{{ page.path | safe }}">{{ trans(key="read_more", lang=lang) | safe }}</a></p>
<hr>
{% endfor %}
{% endblock content %}
