{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}
{% for page in section.pages | reverse %}
<h2><a href="{{ page.path | safe }}">{{ page.title }}</a></h2>
<p class="post-info">
  <span class="post-date">{{ page.date | replace(from="-", to="/")}}</span>
  <span class="post-author">著者: {{ page.extra.author }}</span>
</p>
{% if page.extra.title_image %}
{% set image = page.extra.title_image ~ ".jpg" %}
<div class="imgrow">
  <img src="{{ resize_image(path=image, width=1000, op='fit_width') | replace(from='https://saunoja.jp', to='') | safe }}">
</div>
{% endif %}
{{ page.summary | safe }}
<p><a href="{{ page.path | safe }}">（続きを読む）</a></p>
<hr>
{% endfor %}
{% endblock content %}
