{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block metatags %}
{{ super() }}
{% set relative_path = page.relative_path | default(value=section.relative_path) %}
{% set relpath = relative_path | split(pat="/") | slice(end=-1) %}
{% if page.extra.summary_image %}
    {% set image = relpath | concat(with=page.extra.summary_image ~ ".jpg") | join(sep="/") %}
{% else %}
    {% set image = 'card_vene.jpg' %}
{% endif %}
{% if lang == "ja" %}
{% set full_title = config.extra.site_title ~"【" ~ page.title ~ "】" %}
{% set separator = "。" %}
{% else %}
{% set full_title = config.extra.site_title ~ " " ~ page.title %}
{% set separator = ". " %}
{% endif %}
{% set site_description = trans(key='site-description', lang=lang) | safe %}
{% set img = resize_image(path=image, width=1200, op='fit_width') %}
<meta property="og:title" content="{{ full_title }}"/>
<title>{{ full_title }}</title>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="{{ config.extra.site_title }}"/>
<meta property="og:url" content="{{ current_url | safe }}"/>
<meta property="og:image" content="{{ img.url | safe }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ img.url | safe }}"/>
{% endblock metatags %}

{% block pagecontent %}
<header>
<h1>{{ page.title | safe }}</h1>
</header>
{% block article %}
{{ page.content | safe }}
{% endblock article %}
{% endblock pagecontent %}