{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block metatags %}

{% set relative_path = page.relative_path | default(value=section.relative_path) %}
{% set relpath = relative_path | split(pat="/") | slice(end=-1) %}
{% set image = relpath | concat(with=page.extra.title_image ~ ".jpg") | join(sep="/") %}

{% if lang == "ja" %}
<meta name="twitter:title" content="{{ config.extra.site_title }}【{{ page.title }}】"/>
<meta property="og:title" content="{{ config.extra.site_title }}【{{ page.title }}】"/>
<title>{{ config.extra.site_title }}【{{ page.title }}】</title>
<meta name="twitter:description" content="{{ trans(key='site-description', lang=lang) | safe  }}。{{
page.summary | striptags | replace(from="
", to=" ") }}"/>
{% else %}
<meta name="twitter:title" content="{{ config.extra.site_title }} {{ page.title }}"/>
<meta property="og:title" content="{{ config.extra.site_title }} {{ page.title }}"/>
<title>{{ config.extra.site_title }} {{ page.title }}</title>
<meta name="twitter:description" content="{{ trans(key='site-description', lang=lang) | safe  }}. {{
page.summary | striptags | replace(from="
", to=" ") }}"/>
{% endif %}
<meta property="og:description" content="{{ trans(key='site-description', lang=lang) | safe  }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ trans(key='site-url', lang=lang) | safe  }}"/>
<meta property="og:image" content="{{ resize_image(path=image, width=1200, op='fit_width') | safe }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{ resize_image(path=image, width=1200, op='fit_width') | safe }}"/>
{% endblock %}

{% block content %}
<h2>{{ page.title | safe }}</h2>
{{ macros::post_info(page=page) }}

{{ page.content | safe }}

{% if page.earlier %}
<p class="earlier-page">
<a href="{{ page.earlier.path | safe }}">← {{ trans(key="earlier", lang=lang) | safe }}
    {{ trans(key="open-quote", lang=lang) | safe }}{{ page.earlier.title | safe }}{{ trans(key="close-quote", lang=lang) | safe}}</a>
</p>
{% endif %}
{% if page.later %}
<p class="later-page">
<a href="{{ page.later.path | safe }}">{{ trans(key="later", lang=lang) | safe }}
    {{ trans(key="open-quote", lang=lang) | safe }}{{ page.later.title | safe }}{{ trans(key="close-quote", lang=lang) | safe}} →</a>
</p>
{% endif %}

{% endblock content %}
